<!DOCTYPE html>
<html>
  <head>
    <title>Collab Video</title>
    <script src="/resource/jquery.js" type="text/javascript"></script>
    <script src="/resource/collab-video-slave.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/resource/style.css" />
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  </head>
  
  <body>
    <div id="wrap-video">
      <iframe id="player" type="text/html" width="640" height="390"
    src="https://www.youtube.com/embed/{{vid}}?enablejsapi=1"
    frameborder="0"></iframe>
      
      <p>
        <button id="btn-sync" class="button">Detach</button>
        <span id="sync-description">The video is synced now.</span>
      </p>
      <p class="trigger">
        <a href="#">How it works</a> <i class="fa fa-plus-square-o" id="trigger-icon"></i>
      </p>
      <div class="toggle_container description">
        <div class="block">
          <p>The page is the slave of a master video. When in synced mode, the video in this page will mimic any playback action made on the master video. Whereas in detached mode, it can be playbacked independently. Click the above button to toggle between synched mode and detached mode.</p>
        </div>
      </div>
  
      <!-- hidden info -->
      <p id="id" style="display:none">{{id}}</p>
    </div>
  </body>
</html>